.input {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}
