.profile__info {
  margin: 0 0 0 30px;
  width: 100%;
  max-width: 65%;
}

@media screen and (max-width: 1023px)  {
  .profile__info {
    max-width: 55%;
  }
}

@media screen and (max-width: 767px)  {
  .profile__info {
    text-align: center;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}